html {
    scroll-behavior: smooth;
}
.bg-black{
    background-color: #000;
}
.button-gold{
    background-color: #FFD700;
    color: #000;
}
.overflow{
    overflow: hidden;
}
.paragraph{
    font-size: 20px;
}
.gototop{
    font-size: 80px;
    color: black;
    text-decoration: none;
}
.gototop:hover{
    color: #FFD700;
}